---
import { t } from "astro-i18n";

import src_photo_couple_900_1200 from "@assets/photo_couple_900_1200.jpeg?url";
---

<div class="mx-auto w-full max-w-240 px-2 pb-4 lg:px-4 lg:pb-8">
  <div class="grid min-h-svh place-items-center items-center gap-4 lg:grid-cols-3">
    <div class="lg:col-span-2">
      <div class="text-center lg:text-start">
        <h1 class="py-6 font-serif text-7xl lg:py-12 lg:text-8xl">{t("hero.headline1")}</h1>

        <p class="max-w-xl pb-4 lg:text-lg">
          {t("hero.headline2")}
        </p>
        <p class="max-w-xl pb-4 lg:text-lg">
          {t("hero.headline3")}
        </p>
      </div>
    </div>
    <div>
      <style>
        #my-photo-couple {
          border-radius: var(--radius-field);
        }
      </style>

      <img id="my-photo-couple" src={src_photo_couple_900_1200} alt="Couple Photo" />
    </div>
  </div>
</div>
