---
import astroLogo from "../assets/astro.svg";
import background from "../assets/background.svg";
import { t } from "astro-i18n";
---

<div id="container">
  <p>{t("nav.home")}</p>
  <main>
    <section id="hero">
      <button class="rounded bg-blue-500 px-4 py-2 font-bold text-white hover:bg-blue-700"> tailwind button </button>
      <p class="text-base">This text is now 18px by default</p>

      <a href="https://astro.build"><img src={astroLogo.src} width="115" height="48" alt="Astro Homepage" /></a>
      <h1>
        To get started, open the <code><pre>src/pages</pre></code> directory in your project.
      </h1>
      <p>test</p>
    </section>
  </main>
</div>
