---
import Layout from "@layouts/Layout.astro";
import FlowerDivider from "@components/FlowerDivider.astro";
---

<Layout>
  <h1 class="text-8xl">Font Sans (default)</h1>
  <h2 class="text-7xl">Font Sans (default)</h2>
  <h3 class="text-6xl">Font Sans (default)</h3>
  <h4 class="text-5xl">Font Sans (default)</h4>
  <h5 class="text-4xl">Font Sans (default)</h5>

  <br />

  <h1 class="font-serif text-8xl">Font Serif</h1>
  <h2 class="font-serif text-7xl">Font Serif</h2>
  <h3 class="font-serif text-6xl">Font Serif</h3>
  <h4 class="font-serif text-5xl">Font Serif</h4>
  <h5 class="font-serif text-4xl">Font Serif</h5>

  <br />

  <div>
    <button class="btn btn-neutral">Neutral</button>
    <button class="btn btn-primary">Primary</button>
    <button class="btn btn-secondary">Secondary</button>
    <button class="btn btn-accent">Accent</button>
  </div>

  <br />

  <div>
    <a class="link link-neutral">link-primary</a>
    <a class="link link-primary">link-primary</a>
    <a class="link link-secondary">link-secondary</a>
    <a class="link link-accent">link-accent</a>
  </div>

  <FlowerDivider type="1" />
  <FlowerDivider type="2" />
  <FlowerDivider type="3" />
</Layout>
