---
import Layout from "@layouts/Layout.astro";
import FlowerDivider from "@components/FlowerDivider.astro";
---

<Layout>
  <h2 class="text-7xl">Didact Gothic / Дидакт Готик</h2>
  <h3 class="text-6xl">Didact Gothic / Дидакт Готик</h3>
  <h4 class="text-5xl">Didact Gothic / Дидакт Готик</h4>
  <h5 class="text-4xl">Didact Gothic / Дидакт Готик</h5>
  <p>Didact Gothic / Дидакт Готик</p>

  <br />

  <h2 class="font-serif text-7xl">Great Vibes / Греат Вибес</h2>
  <h3 class="font-serif text-6xl">Great Vibes / Греат Вибес</h3>
  <h4 class="font-serif text-5xl">Great Vibes / Греат Вибес</h4>
  <h5 class="font-serif text-4xl">Great Vibes / Греат Вибес</h5>
  <p class="font-serif">Great Vibes / Греат Вибес</p>

  <br />

  <div>
    <button class="btn btn-neutral">Neutral</button>
    <button class="btn btn-primary">Primary</button>
    <button class="btn btn-secondary">Secondary</button>
    <button class="btn btn-accent">Accent</button>
  </div>

  <br />

  <div>
    <a class="link link-neutral">link-primary</a>
    <a class="link link-primary">link-primary</a>
    <a class="link link-secondary">link-secondary</a>
    <a class="link link-accent">link-accent</a>
  </div>

  <FlowerDivider type="1" />
  <FlowerDivider type="2" />
  <FlowerDivider type="3" />
</Layout>
