---
import { l, t } from "astro-i18n";
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import ParticipationHeadline from "@components/ParticipationHeadline.astro";
import FlowerDivider from "@components/FlowerDivider.astro";
import Hero from "@components/Hero.astro";
import CountdownHeadline from "@components/CountdownHeadline.astro";
import Headline from "@components/Headline.astro";
import Center from "@components/Center.astro";
---

<Layout>
  <Hero />

  <div class="parallax-wedding-location flex h-96 w-full flex-col items-center justify-center lg:h-140">
    <style>
      .parallax-wedding-location {
        background: url(/parallax-wedding-location-800-800.jpeg) no-repeat fixed center center;
        background-size: cover;

        @media only screen and (min-width: 768px) {
          background: url(/parallax-wedding-location.jpeg) no-repeat fixed center center;
          background-size: cover;
        }
      }
    </style>
    <div class="card mx-2 bg-white/50 p-4 shadow-xl backdrop-blur lg:p-8">
      <CountdownHeadline withHeadline />
    </div>
  </div>

  <Container>
    <Headline top={t("when") + "?"}>{t("date")}</Headline>

    <Center>
      <a class="btn btn-outline" href={l("/program")}>{t("moreInfo")}</a>
    </Center>
  </Container>

  <FlowerDivider type="3" />

  <div class="parallax-couple h-96 w-full lg:h-140">
    <style>
      .parallax-couple {
        background: url(/parallax-couple-800-800.jpeg) no-repeat fixed center center;
        background-size: cover;

        @media only screen and (min-width: 768px) {
          background: url(/parallax-couple.jpeg) no-repeat fixed center center;
          background-size: cover;
        }
      }
    </style>
  </div>

  <Container>
    <ParticipationHeadline />
  </Container>

  <FlowerDivider type="1" />
</Layout>
