---
import { t } from "astro-i18n";

import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import Headline from "@components/Headline.astro";
import FlowerDivider from "@components/FlowerDivider.astro";
import Center from "@components/Center.astro";
import TimelineItem from "@components/TimelineItem.astro";
import ParticipationHeadline from "@components/ParticipationHeadline.astro";
---

<Layout>
  <Container>
    <Headline top={t("nav.itinerary")}>{t("itinerary.headline")}</Headline>
  </Container>

  <Container>
    <ul class="timeline timeline-vertical timeline-snap-icon max-md:timeline-compact">
      <TimelineItem time="6:45 – 07:00" titleKey="itinerary.gathering" locationKey="itinerary.address.bulevar" />

      <TimelineItem time="7:30" side="right" titleKey="itinerary.departureToSvilajnac" />

      <TimelineItem time="08:30" titleKey="itinerary.gatheringBridesHome" locationKey="itinerary.address.svilajnac" />

      <TimelineItem time="08:45 – 09:00" side="right" titleKey="itinerary.arrivalSvilajnac" />

      <TimelineItem time="10:00" titleKey="itinerary.departureToBeograd" />

      <TimelineItem
        time="11:30 – 11:45"
        side="right"
        titleKey="itinerary.arrivalBeograd"
        locationKey="itinerary.address.church"
      />

      <TimelineItem time="12:00" big titleKey="itinerary.churchWedding" />

      <TimelineItem time="12:45" side="right" titleKey="itinerary.departureToSmederevo" />

      <TimelineItem time="14:00" titleKey="itinerary.arrivalSmederevo" locationKey="itinerary.address.smederevo" />

      <TimelineItem time="15:00" big side="right" titleKey="itinerary.civilWedding" />
    </ul>
  </Container>

  <div class="relative flex h-96 w-full flex-col items-center justify-center overflow-hidden lg:h-140">
    <style>
      #parallax-waterfall {
        background-image: url(/parallax_waterfall_600_600.jpeg);
        background-size: cover;
        background-position: center;
      }

      @media only screen and (min-width: 768px) {
        #parallax-waterfall {
          background-image: url(/parallax_waterfall_900_600.jpeg);
        }
      }
    </style>
    <div id="parallax-waterfall" class="absolute inset-0 h-screen max-h-[80vh] will-change-transform"></div>
    <script>
      // Lifecycle handles - needed for astro transitions
      // @see https://docs.astro.build/en/tutorials/add-view-transitions/#update-scripts
      document.addEventListener("astro:page-load", () => {
        (function () {
          const el = document.getElementById("parallax-waterfall");
          const speed = 0.4; // tweak 0.1–0.4
          let ticking = false;

          function onScroll() {
            if (!ticking) {
              requestAnimationFrame(() => {
                if (el?.parentElement == null) {
                  return;
                }
                const rect = el.parentElement.getBoundingClientRect();
                const offset = -rect.top * speed;
                el.style.transform = `translate3d(0, ${offset}px, 0)`;
                ticking = false;
              });
              ticking = true;
            }
          }

          onScroll();

          window.addEventListener("scroll", onScroll, { passive: true });

          // cleanup before transition
          document.addEventListener("astro:before-preparation", () => {
            window.removeEventListener("scroll", onScroll);
          });
        })();
      });
    </script>
  </div>

  <Container>
    <ul class="timeline timeline-vertical timeline-snap-icon max-md:timeline-compact">
      <TimelineItem time="20:30" titleKey="itinerary.weddingCake" />

      <TimelineItem time="00:00" side="right" titleKey="itinerary.officialEnd" />
    </ul>

    <Center class="mt-20">
      <p class="text-base-content/50 text-xs">{t("itinerary.disclaimer")}</p>
    </Center>
  </Container>

  <FlowerDivider type="2" />

  <Container>
    <ParticipationHeadline />
  </Container>
</Layout>
