@import "tailwindcss";

@plugin "daisyui" {
  themes: bumblebee --default;
  logs: false;

  /*
   SVARGA: use include with parts to minimize size of page https://daisyui.com/docs/config/#include
   include: button, input, select;
   */
}

/*
Customize Theme
see: https://daisyui.com/docs/themes/#how-to-customize-an-existing-theme
@plugin "daisyui/theme" {
  name: "bumblebee";
  default: true;
  --color-primary: blue;
  --color-secondary: teal;
}
*/

/*
 SVARGA: add font
 Supports weights 100-900
 import "@fontsource-variable/raleway";
 import "@fontsource/ephesis";
 */

/* Reset default margins and paddings */
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  background-color: #ffffff;
}

/*// SVARGA: Add and remove from Navigation once scrolling*/
.my-watercolor-paper-texture {
  background-image: url("/watercolor-paper-texture_20240218.jpg");
  background-repeat: repeat;
}

html {
  font-size: 20px; /* overrides default 16px */
}

@theme {
  --text-base: 20px; /* overrides default 16px for tailwind */

  --font-sans:
    "Raleway Variable", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  --font-serif: "Great Vibes", ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
}
