@import "tailwindcss";

/* Reset default margins and paddings */
html,
body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 20px; /* overrides default 16px */
}

body {
  background-color: #f8f4e3;
}

.my-watercolor-paper-texture {
  background-image: url("/watercolor_paper_texture_ivory_1024_1024.png");
  background-repeat: repeat;
}

@plugin "daisyui" {
  themes: bumblebee --default;
  logs: false;
}

/*
Customize Theme
see: https://daisyui.com/docs/themes/#how-to-customize-an-existing-theme
 */
@plugin "daisyui/theme" {
  name: "bumblebee";
  default: true;
  --color-primary: #c62343;
  --color-primary-content: white;
  --color-secondary: #ff8d7d;
  --color-secondary-content: white;
}

@theme {
  --text-base: 20px; /* overrides default 16px for tailwind */

  --font-sans:
    "Didact Gothic", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  --font-serif: "Great Vibes", ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
}
