---
import { t, astroI18n } from "astro-i18n";
import GlobalStyles from "@components/GlobalStyles.astro";
---

<!--// SVARGA: add theme data-theme="cupcake"--><!doctype html>
<html lang={astroI18n.locale}>
  <head>
    <!-- // SVARGA: <OpenGraphMetadata />-->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="theme-color" content="#ffffff" />

    <!-- generator provides the current version of Astro your project is running. -->
    <meta name="generator" content={Astro.generator} />

    <title>{t("title")}</title>
    <!--<link rel="icon" type="image/svg+xml" href="/favicon.ico" />-->
    <!-- // SVARGA: <ViewTransitions />-->
    <GlobalStyles />
  </head>

  <body class="my-watercolor-paper-texture">
    <!--// SVARGA: <Navigation />-->
    <!--// SVARGA: <ScrollTopButton />-->
    <main>
      <slot />
    </main>

    <!--// SVARGA: <Container>-->
    <!--// SVARGA:   <Footer />-->
    <!--</Container>-->
  </body>
</html>
