---
import { t, astroI18n } from "astro-i18n";
import Container from "@components/Container.astro";
import Footer from "@components/Footer.astro";

import "@fontsource-variable/raleway";
import "@fontsource/great-vibes";
import "../global.css";
---

<html lang={astroI18n.locale}>
  <head>
    <!-- // SVARGA: <OpenGraphMetadata />-->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="theme-color" content="#ffffff" />

    <!-- generator provides the current version of Astro your project is running. -->
    <meta name="generator" content={Astro.generator} />

    <title>{t("title")}</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <!-- // SVARGA: <ViewTransitions />-->
  </head>

  <body class="my-watercolor-paper-texture">
    <!--// SVARGA: <Navigation />-->
    <!--// SVARGA: <ScrollTopButton />-->
    <main>
      <slot />
    </main>

    <Container>
      <Footer />
    </Container>
  </body>
</html>
